
<!DOCTYPE html>
<html>
<head>
	<title>Email Classifier</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			Spam Detector For Email Messages
		</div>
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Enter Your Message Here</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="4" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict">
		
	</form>
		
	</div>
	<h1 class="header2">Message content:</h1>
	<p>{{data}}</p>
	<h1 class="header2">Predicted Class:</h1>
	<p>{{prediction}}</p>

	{% block content %}{% endblock %}

</body>
</html>